RedirectMatch 403 ^/.git/.*$
RedirectMatch 403 ^/resources/.*$
RedirectMatch 403 ^/composer.(lock|json)$
RedirectMatch 403 ^/README.md$

# As suggested here: https://serverfault.com/a/646227
Header always edit Set-Cookie "(?i)^((?:(?!;\s?HttpOnly).)+)$" "$1; HttpOnly"
Header always edit Set-Cookie "(?i)^((?:(?!;\s?secure).)+)$" "$1; secure"

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|manifest)$">
    Header set Cache-Control "max-age=31536000, public"
    ExpiresActive On
    ExpiresDefault "access plus 1 year"
</FilesMatch>

AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

RewriteEngine On

RewriteRule ^nsfw/?$                  /index.php?nsfw               [L]
RewriteRule ^demo/?$                  /index.php?demo               [L]
RewriteRule ^profile/?$               /profile.php                  [L]
RewriteRule ^private/?$               /private.php?=$1              [L]
RewriteRule ^privacy/?$               /privacy.php                  [L]
RewriteRule ^about/?$                 /about.php                    [L]
RewriteRule ^company/?$               /company.php                  [L]
RewriteRule ^company/ads/manage/?$    /manageAds.php                [L]
RewriteRule ^company/billing/?$       /billing.php                  [L]
RewriteRule ^view/(\d+)$              /view.php?message=$1          [L]
RewriteRule ^view/nsfw/(\d+)$         /view.php?message=$1&nsfw     [L]
RewriteRule ^view/private/(\d+)$      /view.php?message=$1&private  [L]
RewriteRule ^to/(.*)$                 /?to=$1                       [L]

RewriteRule ^exceptions/maintenance$            /exceptions/maintenance.php   [L]
RewriteRule ^exceptions/not_found$              /exceptions/handle.php?e=404  [L]
RewriteRule ^exceptions/bad_request$            /exceptions/handle.php?e=400  [L]
RewriteRule ^exceptions/forbidden$              /exceptions/handle.php?e=403  [L]
RewriteRule ^exceptions/im_a_teapot$            /exceptions/handle.php?e=418  [L]
RewriteRule ^exceptions/failed_dependency$      /exceptions/handle.php?e=424  [L]
RewriteRule ^exceptions/internal_server_error$  /exceptions/handle.php?e=500  [L]
RewriteRule ^exceptions/not_implemented$        /exceptions/handle.php?e=501  [L]
RewriteRule ^exceptions/service_unavailable$    /exceptions/handle.php?e=503  [L]
RewriteRule ^exceptions/outdated_browser$       /exceptions/handle.php?e=1000 [L]

ErrorDocument 404 /exceptions/not_found
ErrorDocument 400 /exceptions/bad_request
ErrorDocument 403 /exceptions/forbidden
ErrorDocument 424 /exceptions/failed_dependency
ErrorDocument 500 /exceptions/internal_server_error
ErrorDocument 501 /exceptions/not_implemented
ErrorDocument 503 /exceptions/maintenance