<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|manifest)$">
    Header set Cache-Control "max-age=84600, public"
    ExpiresActive On
    ExpiresDefault "access plus 1 day"
</FilesMatch>

AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

RewriteEngine On

RewriteRule ^profile$ /profile.php [L]
RewriteRule ^private$ /private.php [L]
RewriteRule ^privacy$ /privacy.php [L]
RewriteRule ^view/(\d+)$ /view.php?message=$1 [L]
RewriteRule ^view/private/(\d+)$ /view.php?message=$1&private [L]
RewriteRule ^to/(.*)$ /?to=$1 [L]

RewriteRule ^exceptions/maintenance$ /exceptions/maintenance.php [L]
RewriteRule ^exceptions/not_found$ /exceptions/handle.php?e=404.php [L]
RewriteRule ^exceptions/bad_request$ /exceptions/handle.php?e=400.php [L]
RewriteRule ^exceptions/forbidden$ /exceptions/handle.php?e=403.php [L]
RewriteRule ^exceptions/im_a_teapot$ /exceptions/handle.php?e=418.php [L]
RewriteRule ^exceptions/internal_server_error$ /exceptions/handle.php?e=500.php [L]
RewriteRule ^exceptions/service_unavailable$ /exceptions/handle.php?e=503.php [L]

ErrorDocument 404 /exceptions/not_found
ErrorDocument 400 /exceptions/bad_request
ErrorDocument 403 /exceptions/forbidden
ErrorDocument 500 /exceptions/internal_server_error
ErrorDocument 503 /exceptions/maintenance